[Desktop Entry]
Encoding=UTF-8
Name=Link to Tutorial | ReactJS Redux: Mastering Best Practices and Blog
Type=Link
URL=https://reactjs.co/#basic-preface
Icon=text-html
